<h1><%= @question.name %></h1>
<label> Tags: </label>
<% @question.tags.each do |tag| %>
    <%= link_to "#{tag.name}", tag_path(tag) %>
<%end%><br>

<% if @user_answer %>
    <p>You have already answered this question, you wrote: </p>
    <%= "#{@user_answer.content}" %><br>
    <%= link_to "Change Answer", edit_answer_path(@user_answer) %>
<%else%>
    <%= render partial: 'answers/form', locals: {answer: @answer} %>
<%end%>
<br>

<% if current_user.admin = true %>
    <%= link_to "Edit Question", edit_question_path(@question) %>
<%end%>
