<% content_for :header do %>
    <h1><%= @question.name %></h1>
<%end%>

<% content_for :content do %>
    <% if !@tags.empty? %>
        <label> Tags: </label>
        <% @tags.each do |tag| %>
            <%= link_to "#{tag.name}", tag_path(tag) %>
        <%end%>
    <%end%>
    <br>
    <br>
    <% if user_answered?(@question) %>
        <h4>You've already answered this question, you wrote: </h4>
        <h5><%= "#{user_answer(@question)}" %></h5><br>
        <center><%= button_to "Change your answer", edit_answer_path(@user_answer), :method => "get", class: "btn btn-outline-primary col-4" %></center>
    <%else%>
        <center><%= button_to "Answer Question", new_question_answer_path(@question), :method => "get", class: "btn btn-outline-primary col-4"%></center>
    <%end%>
    <br>
    <center><%= button_to 'How others answered', question_answers_path(@question), :method => "get", class: "btn btn-outline-primary col-4"%><br></center>

    <% if current_user.admin %>
        <%= link_to "Edit Question", edit_question_path(@question) %>
    <%end%>
<%end%>
