<h1>Today's Question is: <%= "#{todays_question.name}" %></h1><br>
<%= link_to "Answer todays question", new_question_answer_path(todays_question)%><br>

<%= link_to "All Questions", questions_path %><br>
<%= link_to "Tags ", tags_path %><br>

<%=link_to "Log Out", :controller => 'sessions', :action => 'destroy' %>