<% if @tag.errors.any? %>
  <%= render partial: 'layouts/errors', locals: {object: @tag}%>
<% end %>
  
<%= form_for @tag do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control" %><br>
      <%= f.collection_check_boxes(:question_ids, Question.all, :id, :name) do |b| %><br>
          <div class="form-check form-check-inline">
              <%= b.check_box(class: "form-check-input") %>
              <%= b.object.name %>
          </div>
      <%end%>
  
    <%= f.submit class: "btn btn-primary col-3"%>
  </div>
<% end %>